body {
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
    text-align: center;
}

nav {
    background: #111;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

nav a:hover {
    color: cyan;
}